<ion-view view-title="landing">
  <ion-content scroll="false">
	 <div  class="bg-main full-height" full-height>
	  </div>
	<div class='color-white text-center net-error' >{{ 'No network connection!' | langTranslate: appConvertedLang['No_network_connection'] }}</div>	
    <div class = "tabs">
   <a class = "tab-item" ng-click='sign_up()' id='signup-redirect-btn'>
      SignUp
   </a>
	
   <a class = "tab-item" ng-click='show_login1()' id='signIn-redirect-btn'>
      SIGN IN
   </a>

</div>
  </ion-content>
</ion-view>
